
h1 {
    text-align: center;
}

h2{
    text-align: center;
}
ul{
    text-align: center;
}

dl{
    text-align: center;
}

span{
    font-weight: bold;
}

footer{
    text-align: center;
}

div{
    text-align: center;
}